@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
html{
    /* background-color: bisque;*/
}
body{
    font-size: 25px;
    font-family: "Playfair Display", serif;   
}
#title1{
    text-align: center;
    color: rgb(56, 47, 79);
    background-color:white;
    padding: 20px;
}
.sign-in{
    display: flex;
}
.sign-in img{
    border-radius: 10px;
}
.items{
    display: flex;
    justify-content: space-between;

}
.heading1{
    background-color: rgb(255, 255, 255);
}
.heading1 p{
    text-align: end;
}
#img{
    float: right;
}
#search-input {
    width: 200px;
    height: 40px;
    font-size: 1rem;
    text-align: left;
    border-radius: 10px;
}
#search-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    text-align: left;
    border-radius: 10px;
}
.link1{
    list-style-type: none;
    color: white;
    text-align: center;
    background-color: white;
}
li{
    display: inline;
    padding-left: 50px;
    margin: 2px 3px 3px 2px;
}
a{
    text-decoration: none;
}
 nav ul li a:hover{
    color: red;
    border: 2px solid rgb(0, 128, 43);
    border-radius: 35px;
    padding: 5px;
}
.productsimg-with-text{
   float: inline-start;
   border-radius: 5x;
   padding-left: 20px;

}
#brand1{
    border-radius: 10px;
    border: 20px;
    
}
.brandinfo1{
    position: absolute;
    bottom: -30px;
    left: 40%;
    background-color: white;
    margin-left: 0%;
    margin-right: 35%;
    border-radius: 3px;
    text-align: center;
       
}
.brandinfo1 h2{
    padding: 5px 10px 5px 10px;
}

.brandinfo1 a:hover{    
    border-radius: 20px;
    color: white;
    padding: 20px;

}
h1{
    text-align: center;
}
.card-body{
    height: 50%;
}
.productsimg2{
    position: relative;
    
}
#brand2{
    border-radius: 3px;
}
.brandinfo2{
    position: absolute;
    left: 40%;
    right: 30%;
    background-color: white;
    position: absolute;
    bottom: -20px;  
    z-index: 2; 
    font-size: 14px;
    border-radius: 20px;
    padding-left: 0px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;

}
.brandinfo2 p{
    color: black;
    font-size: large;
    font-weight: bold;
}
.card{
    font-size: 15px;
    height: 500px;
    margin-right: 20px;
    border: none;
}
.card img{
    height: 200px;
    border-radius: 2px;
    border: 3px solid rgb(11, 10, 6);
}
.card .paragraph{
    justify-content: center;
    /* margin: 40px; */
    background-color: black;
    color: wheat;
    
}

.bottom-link1 a:hover{
    background-color: goldenrod;
    border-radius: 20px;
    color: white;
    padding: 10px;

}
.description{
    all: unset;
    display: flex;
    text-align: justify;
    gap: 2em;
}
.description ,.info1, .info2{
    font-size: 0.8em; 
}
.description iframe{
    border-radius: 2px;
    height: 400px;   
    width: 600px;
}
.description h1{
    text-align: center;
}
footer{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: white;
}
footer hr{
    background-color: white;
}
footer div{
    margin: 0 10px;
    display: block;
    width: fit-content;
}
footer img{
    height: 30px;
    width: 30px;
    border-radius: 20px;
}
@media screen and (max-width: 800px) {
    .description, .info1{
        height: 300px;
    }
}
.read{
    background-color: black;
    width: max-content;
    padding: 10px;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 0.6em;
    letter-spacing: 2px;
    border-radius: 2px;
    color: white;
}
.platforms h2{
    text-align: center;
}
.cardsimage{
    display: flex;
    gap: 2px;
    padding: 2px;
    
}
.cardsimage img{
    width: 15%;
    height: 250px;
    padding: 2px 2px 2px 2px;
    border-radius: 3px;
    border: 2px solid goldenrod;
    padding: 0px;
}
.socialmedia{
    display: flex;
}
.socialmedia img{
    width: 5%;
    height: auto;
}
.carousel-control-prev-icon{
    background-color: black;
}
.carousel-control-next-icon{
    background-color: black;
}

